<template name="footer">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="logo" href="/">{{> logo}}</a>
            </div>
            <div class="col-md-4 col-xs-6">
                    <p>Соломенский район:</p>
                    <br>
                    <p>г. Киев, улица Народного Ополчения 9</p>
                    <p>Поле и спортивный зал на територии академии МВД</p>
            </div>
            <div class="col-md-4 col-xs-6">
                <p>Левый берег:</p>
                <br>
                <p>г. Киев, бульвар Игоря Шамо 18\2</p>
                <p>Институт Искусств</p>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4">
                <a href="https://vk.com/ukrfs"><img src="https://static.wixstatic.com/media/a978e2288d9a4b8e9fa481d79873e647.png/v1/fill/w_32,h_32,al_c,usm_0.66_1.00_0.01/a978e2288d9a4b8e9fa481d79873e647.png" class="img-rounded" alt=""></a>
                <a href="https://www.facebook.com/ukrainianfs?ref=profile"><img src="https://static.wixstatic.com/media/d75821b3625d16f95dfd8ebff761922d.png/v1/fill/w_32,h_32,al_c,usm_0.66_1.00_0.01/d75821b3625d16f95dfd8ebff761922d.png" class="img-rounded" alt=""></a>
                <a href="http://ok.ru/group/53296504832107"><img src="https://static.wixstatic.com/media/89cb598ec2c443d18c63fdf08383e538.png/v1/fill/w_32,h_32,al_c,usm_0.66_1.00_0.01/89cb598ec2c443d18c63fdf08383e538.png" class="img-rounded" alt=""></a>
                <a href="http://instagram.com/ukrainian_football_school"><img src="https://static.wixstatic.com/media/1668fefe9eca1566d239f5101c2af490.png/v1/fill/w_32,h_32,al_c,usm_0.66_1.00_0.01/1668fefe9eca1566d239f5101c2af490.png" class="img-rounded" alt=""></a>                               
            </div>
            <div class="col-md-6 col-md-offset-2">
                <p class="text-right">&copy;2016<br>All rights reserved.</p>
            </div>
        </div> -->
    </div>
</footer>
</template>