<template name="footer">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 contact-info">
                    <address>
                        <strong>Соломенский район:</strong><br>
                        г. Киев, улица Народного Ополчения 9<br>
                        <a class="contact-info__tel" href="tel:+380674688946">+380(67) 46-889-46</a> 
                    </address>
                    <address>
                        <strong>Русановка:</strong><br>
                        Киев, бульвар Игоря Шамо 18\2<br>
                        <a class="contact-info__tel" href="tel:+380674688946">+380(67) 46-889-46</a>
                    </address>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="footer__socials">
                    <p class="footer__socials-title">Мы в социальных сетях:</p>
                        <a class="footer__socials-icon icon-vk" href="https://vk.com/ukrfs"></a>
                        <a class="footer__socials-icon icon-fb" href="https://www.facebook.com/ukrainianfs?ref=profile"></a>
                        <a class="footer__socials-icon icon-insta" href="https://www.instagram.com/ukrainian_football_school/"></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <a class="footer__logo" href="/">
                        <img src="/logo-white.png" alt="UFS логотип">
                    </a>
                </div>
            </div>
            <div class="footer__copyright">
                <p>&copy; 2016 copyright by Ukrainian football school. All rights reserved.</p>
            </div>
        </div>
    </footer>
</template>