<template name="footer">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 contact-info">
                <p>Соломенский район:</p>
                <p>г. Киев, улица Народного Ополчения 9</p>
                <p><a class="contact-info__tel" href="tel:+380674688946">067 46-889-46</a></p>
                <br>
                <p>Левый берег:</p>
                <p>г. Киев, бульвар Игоря Шамо 18\2</p>
                <p><a class="contact-info__tel" href="tel:+380674688946">067 46-889-46</a></p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p>Мы в социальных сетях:</p>
                <div class="socials">
                    <a class="socials__icon socials__icon--vk" href="https://vk.com/ukrfs"></a>
                    <a class="socials__icon socials__icon--fb" href="https://www.facebook.com/ukrainianfs?ref=profile"></a>
                    <a class="socials__icon socials__icon--insta" href="https://www.instagram.com/ukrainian_football_school/"></a>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <a class="footer__logo" href="/">
                    <img src="/logo-white.png" alt="UFS логотип">
                </a>
            </div>
        </div>
        <div class="footer__copyright">
            <p>&copy; 2016 copyright by Ukrainian football school. All rights reserved.</p>
        </div>
    </div>
</footer>
</template>