<template name="sidebarAdmin">
    <ul class="nav nav-pills nav-stacked sidebar-admin">
        <li role="presentation" class="{{isActivePath '/admin'}}">
            <a href="/admin">Главная</a>
        </li>
        <li role="presentation" class="{{isActivePath '/admin/inbox'}}">
            <a href="/admin/inbox">Заявки {{#if unreadCount}}<span class="badge">{{unreadCount}}</span>{{/if}}</a>
        </li>
        <li role="presentation"  class="{{isActivePath '/admin/news'}}">
            <a href="/admin/news">Новости</a>
        </li>
<!--         <li role="presentation" class="{{isActivePath '/admin/calendar'}}">
            <a class="disabled" href="/admin/calendar">Календарь</a>
        </li>
        <li role="presentation" class="{{isActivePath '/admin/gallery'}}">
            <a class="disabled" href="/admin/gallery">Галлерея</a>
        </li>
        <li role="presentation" class="{{isActivePath '/admin/team'}}">
            <a class="disabled" href="/admin/team">Команда</a>
        </li> -->
    </ul>
</template>