<template name="sidebarAdmin">
<!--     <input type="checkbox" id="hmt" class="nav-trigger">
    <label class="btn-menu" for="hmt">
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
    </label>
    <div class="colored"></div> -->
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="{{isActivePath '/admin'}}">
            <a href="/admin">Главная</a>
        </li>
        <li role="presentation" class="{{isActivePath '/admin/inbox'}}">
            <a href="/admin/inbox">Заявки {{#if unreadCount}}<span class="badge">{{unreadCount}}</span>{{/if}}</a>
        </li>
        <li role="presentation"  class="{{isActivePath '/admin/news'}}">
            <a href="/admin/news">Новости</a>
        </li> 
        <li role="presentation" class="{{isActivePath '/admin/calendar'}}">
            <a href="/admin/calendar">Календарь</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/">Перейти на сайт</a>
        </li>
        <li>
            <a href="#" id="logout">Выйти</a>
        </li>
    </ul>
</template>