.navbar-admin{
    background-color: #f8f8f8;
    .badge{
        position: absolute;
        top: 0;
        right: 0px;
        background-color: $primary-color;
    }
}
.admin-main{
    padding: 25px 0;
}
.news-controls{
    padding: 3px 5px;
    @include clearfix;
    &__btn{
        cursor: pointer;
        &--remove{
            float: right;
        }
    }
}
.js-responded{
    color: #5fba7d;
    cursor: pointer;
}
.js-respond{
    color: #e8e8e8;
    cursor: pointer;
}
.js-remove-enroll{
    cursor: pointer;
}