* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; // for some Androids
}

main{
    margin-top: 50px;
}
.page__title {
	margin: 40px auto;
}