* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; // for some Androids
}
body{
    font-family: 'Roboto', sans-serif;
}
.section{
    padding-top: 45px;
    padding-bottom: 45px;
    @include mobile{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &--dark{
        background-color: $dark;
    }
    &__title{
        color: $primary-color;
        margin: 35px 0;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        &:after{
            content: '';
            display: block;
            width: 42px;
            height: 2px;
            background-color: #338BCB;
            margin: 8px auto 0 auto;
        }
        @include mobile{
            margin: 20px 0;
        }
    }
    &__sub-title{
        text-align: center;
        color: #acacac;
        font-weight: 400;
        font-size: 17px;
        margin: 30px 0;
        @include mobile{
            margin: 20px 0;
        }
    }
}

.socials{
    &__icon{
        display: inline-block;
        width: 35px;
        height: 23px;
        background: transparent no-repeat 50% 50%;
        background-size: contain;
        @include mobile{
            text-align: center;
        }
        &--fb{
            background-image: url('/icons/fb.svg')
        }
        &--vk{
            background-image: url('/icons/vk.svg')
        }
        &--insta{
            background-image: url('/icons/insta.svg')
        }
    }
}

.contact-info{
    &__tel{
        color: #fff;
    }
}
