* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; // for some Androids
}
body{
    font-family: 'Roboto', sans-serif;
}
.section{
    padding-top: 45px;
    padding-bottom: 45px;
    @include mobile{
        padding-top: 15px;
        padding-bottom: 20px;
    }
    &--dark{
        background-color: $dark;
    }
    &__title{
        color: $primary-color;
        margin: 35px 0;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        &:after{
            content: '';
            display: block;
            width: 42px;
            height: 2px;
            background-color: #338BCB;
            margin: 8px auto 0 auto;
        }
        @include mobile{
            margin: 20px 0;
            font-size: $fs-titles-xs;
        }
    }
    &__sub-title{
        text-align: center;
        color: #acacac;
        font-weight: 400;
        font-size: 17px;
        margin: 30px 0;
        @include mobile{
            margin: 20px 0;
            font-size: $fs-subtitles-xs;
            text-align: left;
        }
        br{
            @include mobile{
                display: none;
            }
        }
    }
}
.list{
    color: $primary-color;
    padding: 20px;
    font-size: 19px;
    margin-left: 15px;
    @include mobile{
        font-size: $fs-general-xs;
    }
    li{
        @include mobile{
            margin-bottom: 10px;
        }
    }
    span{
        color: #000;
    }
}
.contact-info{
    &__tel{
        color: #fff;
    }
}
