.calendar{
    // title column
    &.fc th{
        background: #e8e8e8;
        padding: 10px;
        color: #338BCB;
        font-weight: 500;
    }
    // card
    .fc-event{
        background-color: $primary-color;
        border-radius: 0;
        border: 0;
    }
    .fc-day-grid-event{
        margin: 5px;
        padding: 10px;
    }
    // btn
    .fc-state-default{
        background: transparent;
        box-shadow: 0;
        border: 0;
        border-radius: 0;
        &:hover {
            background-color: $primary-color;
            border-radius: 5px;
            .fc-icon:after {
                color: #fff;
                box-shadow: 0;
            }

        }
    }
    // title
    .fc-center{
        color: $primary-color;
        font-size: 19px;
        h2{
            @include mobile{
                font-size: 15px;
            }
        }
    }
    .fc-icon:after {
        color: $primary-color;
    }
}

.calendar--week{
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    // table borders
    &.fc th, &.fc td{
        border: 0;
    }
}

//calendar
.calendar--month {
    .fc-toolbar h2 {
        font-size: 25px;
        font-weight: 400;
    }
//     .fc-left {
//        color: $primary-color;
//    }
//    .fc-today-button{
//         color: $primary-color;
//     }
//    .fc-state-default{
//     color: $primary-color;
//     background: transparent;
//     box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
//         &:hover {
//             background-color: $primary-color;
//             border-radius: 5px;
//             color:#fff;
//             text-shadow: 0;
//             .fc-icon:after {
//                 color: #fff;
//                 box-shadow: 0;
//             }
//         }
//         &:active {
//             border: 1px solid transparent;
//         }
//         &:focus {
//             border: 1px solid transparent;
//         }
//     }
//     &.fc th{
//         background: $primary-color;
//         font-size: 18px;
//         padding: 10px;
//         color: #fff;
//         font-weight: 500;
//     }
        .fc-basic-view td.fc-day-number {
            color: $primary-color;
            padding-top: 5px;
            padding-right: 5px;
        }
//     .fc-today {
//     background: $second-color;
//     }
}