.calendar{
    // title column
    &.fc th{
        background: #e8e8e8;
        padding: 10px;
        color: #338BCB;
        font-weight: 500;
        &.fc-today{
            background-color: $primary-color;
            color: #fff;
        }
    }
    // card
    .fc-event{
        background-color: $primary-color;
        border-radius: 0;
        border: 0;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            left: 13px;
            top: -11px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 12px 12px;
            border-color: transparent transparent #338BCB transparent;
        }
        h4{
            word-wrap: break-word;
            white-space: normal;
        }
    }
    .fc-day-grid-event{
        margin: 5px;
        padding: 10px;
        margin-top: 13px;
        min-height: 65px;
    }
    // btn
    .fc-state-default{
        background: transparent;
        box-shadow: 0;
        border: 0;
        border-radius: 0;
        &:hover {
            background-color: $primary-color;
            border-radius: 5px;
            .fc-icon:after {
                color: #fff;
                box-shadow: 0;
            }

        }
    }
    // title
    .fc-center{
        color: $primary-color;
        font-size: 19px;
        h2{
            @include mobile{
                font-size: 15px;
            }
        }
    }
    .fc-icon:after {
        color: $primary-color;
    }
}

.calendar--week{
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    // table borders
    &.fc th, &.fc td{
        border: 0;
    }
    .fc-today{
        background-color: transparent;
    }
}

//calendar
.calendar--month {
    .fc-toolbar h2 {
        font-size: 21px;
        font-weight: 400;
        color: $primary-color;
    }
    .fc-basic-view td.fc-day-number {
        color: $primary-color;
        padding-top: 5px;
        padding-right: 5px;
    }
}

.event{
    &__header{
        @include clearfix;
    }
    &__time{
        float: left;
    }
    &__place{
        float: right;
    }
    &__title{
        font-size: 14px;
    }
}