@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c7eb6f');
  src:  url('fonts/icomoon.eot?c7eb6f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c7eb6f') format('truetype'),
    url('fonts/icomoon.woff?c7eb6f') format('woff'),
    url('fonts/icomoon.svg?c7eb6f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ball:before {
  content: "\e900";
}
.icon-boy-father:before {
  content: "\e901";
}
.icon-boy-football:before {
  content: "\e902";
}
.icon-family:before {
  content: "\e903";
}
.icon-fb:before {
  content: "\e904";
}
.icon-insta:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-timer:before {
  content: "\e907";
}
.icon-vk:before {
  content: "\e908";
}

