.footer{
    position: relative;
    background-color: $primary-color;
    padding: 50px 0 50px 0;
    margin-top: 50px;
    font-size: 15px;
    color: white;
    line-height: 1;
    @include tablet{
        text-align: center;
        padding: 50px 0 10px 0;
        font-size: 15px;
    }
    @include mobile{
        font-size: $fs-general-xs;
        margin-top: 30px;
    }
    .contact-info{
        & strong{
            font-weight: 500;
        }
        &__tel:hover{
            color: $second-color;
        }
    }
    &__logo{
        margin: 0 auto;
        display: block;
        width: 80px;
        img{
            display: block;
            width: 100%;
            padding: 0 0 15px 0;
        }
        @include mobile{
            width: 50px;
            margin: 15px auto 0;
        }
        @include tablet{
            margin: 15px auto 0;
        }
    }
    &__copyright{
        text-align: right;
        color: #acacac;
        font-size: 13px;
        @include tablet{
            text-align: center;
        }
        @include tablet{
            font-size: 10px;
            text-align: center;
        }

    }
    &:before {
        content: '';
        display: block;
        height: 50px;
        width: 100%;
        position: absolute;
        top: -50px;
        left: 0;
        background: url("../ornament.png") repeat-x;
        @include tablet{
            zoom: 0.6;
        }
        @include mobile{
            zoom: 0.4;
        }
    }
    &__socials{
        display: inline-block;
        text-align: center;
        &-title{
            text-align: center;
            margin-bottom: 20px;
        }
        &-icon{
            margin-left: 5px;
            margin-right: 5px;
        }
        .icon-fb {
            color: $primary-color;
            padding: 10px;
            font-size: 20px;
            line-height: 1;
            background-color: #fff;
            border-radius: 5px;
            @include mobile {
                padding: 5px;
                font-size: 14px;
            }
            &:hover {
                transition: 0.6s;
                background-color: $second-color;
                color: #fff; 
                text-decoration: none; 
            }
        }
        .icon-vk {
            color: $primary-color;
            padding: 10px;
            font-size: 20px;
            line-height: 1;
            background-color: #fff;
            border-radius: 5px;
            @include mobile {
                padding: 5px;
                font-size: 14px;
            }
            &:hover {
                transition: 0.6s;
                background-color: $second-color;
                color: #fff; 
                text-decoration: none; 
            }
        }
        .icon-insta {
            color: $primary-color;
            padding: 10px;
            font-size: 20px;
            line-height: 1;
            background-color: #fff;
            border-radius: 5px;
            @include mobile {
                padding: 5px;
                font-size: 14px;
            }
            &:hover {
                transition: 0.6s;
                background-color: $second-color;
                color: #fff; 
                text-decoration: none; 
            }
        }
    }
}
