.footer{
    background-color: $primary-color;
    padding: 50px 0 50px 0;
    margin-top: 60px;
    font-size: 15px;
    color: white;
    line-height: 1;
    @include mobile{
        padding: 50px 0 5px 0;
        font-size: 13px;
    }
    @include tablet{
        padding: 50px 0 10px 0;
        font-size: 15px;
    }
    &__logo{
        margin: 0 0 0 auto;
        display: block;
        width: 80px;
        img{
            display: block;
            width: 100%;
            padding: 0 0 15px 0;
        }
        @include mobile{
            width: 50px;
            margin: 0 auto;
        }
        @include tablet{
            margin: 0 auto;
        }
    }
    &__copyright{
        text-align: right;
        color: #acacac;
        font-size: 13px;
    }
     &:before {
        content: '';
        display: block;
        height: 60px;
        position: relative;
        top: -110px;
        left: 0;
        background: url("../ornament.png") repeat-x;
     }
}