.element-item {
    position: relative;
    float: left;
    width: 275px;
    height: 275px;
    margin: 5px;
    padding: 10px;
    background: #cccccc no-repeat 50% 50%;
    background-size: cover;
    @include tablet{
        margin: 20px;
        padding: 20px;
        width: 320px;
        height: 320px;
    }
    @include mobile{
        width: 250px;
        height: 250px;
        margin: 15px 20px;
        padding: 10px 15px;
    }
}
.filter{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    @include tablet{
        font-size: 20px;
    }
    @include mobile{
        font-size: 15px;
    }
}