.header{
    padding: 15px 0 15px 0;
    background: #fff;
    @include mobile{
        padding: 10px 0 10px 0;
    }
    &__contact{
        color: white;
        font-size: 26px;
        line-height: 1;
        padding: 7px 0 0 0;
    }   
    .logo{
        display: block;
        width: 100px;
        margin: 0 auto;
        &__img{
            display: block;
            width: 100px;
        }
        @include mobile{
            width: 70px;
        }
    }
}
.navbar{
    margin: 0;
    background: $primary-color;
    border-radius: 0;
    border: 0;
    &-collapse{
        font-size: 17px;
        font-weight: 600;
        color: #fff;
        @include mobile{
            font-size: 16px;
        }
    }
    ul{
        float: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include mobile{
            float: left;
            display: inline;
        }
        li{
            float: none;
            font-weight: 300;
            &:hover{
                a{
                    color: $primary-color;
                }
            }
            a{
                color: #fff;
            }
        }
    }
}
.icon-bar{
    background: $primary-color;
}