.header{
    padding: 25px 0 25px 0;
    background: #fff;
    @include mobile{
        padding: 10px 0 10px 0;
    }
    &__info{
        position: relative;
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        line-height: 1;
        @include mobile {
            font-size: 14px;
        }
        &--text{
            margin-bottom: 20px;
            @include mobile {
                margin-top: 12px;
                margin-bottom: 10px;
            }
            .icon-ball{
                font-size: 30px;
                color: $primary-color;
                vertical-align: middle;
                margin-right: 6px;
                @include mobile {
                    display: none;
                }
                @include tablet {
                    display: none;
                }
            }
        }
        &--tel{
            a:hover{
                transition: 0.7s;
                color: $second-color;
                text-decoration: none;
                .icon-phone{
                    color: $second-color;
                    transition: 0.5s;
                }
            }
            .icon-phone{
                font-size: 26px;
                color: $primary-color;
                vertical-align: middle;
                margin-right: 8px;
                @include mobile {
                    display: none;
                }
                @include tablet {
                    display: none;
                }  
            }
        }
    }
    .logo{
        margin: 0 auto;
        &__img{
            display: block;
            width: 100px;
            margin: 0 auto;
            @include mobile {
                width: auto;
                height: 48px;
            }
        }
        @include mobile {
            float: right;
            margin: 10px 0;
        }
    }
    &__socials{
        padding-top: 20px;
        *{
            vertical-align: middle;
        }
        &-icon{
            display: inline-block;
            margin-right: 3px;
            margin-left: 3px;
            @include mobile{
                display: none;
            }
            @include tablet{
                display: none;
            }
        }
        .icon-fb {
            color: #fff;
            padding: 10px;
            font-size: 20px;
            line-height: 1;
            background-color: $primary-color;
            border-radius: 5px;
            &:hover {
                transition: 0.6s;
                background-color: $second-color;
                text-decoration: none; 
            }
        }
        .icon-vk {
            color: #fff;
            padding: 10px;
            font-size: 20px;
            line-height: 1;
            background-color: $primary-color;
            border-radius: 5px;
            &:hover {
                transition: 0.6s;
                background-color: $second-color;
                text-decoration: none; 
            }
        }
        .icon-insta {
            color: #fff;
            padding: 10px;
            font-size: 20px;
            line-height: 1;
            background-color: $primary-color;
            border-radius: 5px;
            &:hover {
                transition: 0.6s;
                background-color: $second-color;
                text-decoration: none; 
            }
        }
    }
}


