.header{
    padding: 15px 0 15px 0;
    background: #fff;
    @include mobile{
        padding: 10px 0 10px 0;
    }
    &__contact{
        color: white;
        font-size: 26px;
        line-height: 1;
        padding: 7px 0 0 0;
    }   
    .logo{
        display: block;
        width: 100px;
        margin: 0 auto;
        &__img{
            display: block;
            width: 100px;
        }
        @include mobile{
            width: 70px;
        }
    }
}
.menu{
    @include mobile{
        width: 100%;
        text-align: center;
        float: none;
        margin: 0;
    }
}
