.navbar{
    margin: 0;
    background: $primary-color;
    border-radius: 0;
    border: 0;
    &-collapse{
        font-size: 17px;
        font-weight: 600;
        color: #fff;
        @include mobile{
            font-size: 16px;
        }
    }
    ul{
        float: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        @include mobile{
            float: left;
            display: inline;
        }
        li{
            float: none;
            font-weight: 300;
            @include mobile{

            }
            &:hover{
                a{
                    color: $primary-color;
                }
            }
            a{
                color: #fff;
            }
            &.active{
                color: $primary-color;
                background-color: #eee;
                a{
                    color: $primary-color;
                }
            }
        }
    }
}
.icon-bar{
    background: #fff;
}

.navbar--admin{

}

.sidebar-admin{
    li{
        a{
            border-radius: 0;
        }
        &.active{
            a{
                background: $primary-color;
            }
        }
    }
}