.navbar{
    margin: 0;
    background: $primary-color;
    border-radius: 0;
    border: 0;
    &-collapse{
        font-size: 17px;
        font-weight: 600;
        color: #fff;
        @include mobile{
            font-size: 16px;
        }
    }
    ul{
        float: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        @include mobile{
            float: left;
            display: inline;
        }
        li{
            float: none;
            flex: 1;
            font-weight: 300;
            text-align: center;
            &:hover{
                a{
                    color: $second-color;
                }
            }
            a{
                color: #fff;
                &:hover,
                &:focus{
                    background-color: transparent;
                }
            }
            &.active{
                color: $second-color;
                a{
                    color: $second-color;
                }
            }
        }
    }
}
.icon-bar{
    background: #fff;
}

.menu{
    @include mobile{
        width: 100%;
        text-align: center;
        float: none;
        margin: 0;
    }
}
