.news{
    @include clearfix;
    margin-bottom: 30px;
    border-bottom: 3px solid $second-color;
    background: $dark;
    flex: 0 0 32%;
    margin: 1% 0;
    overflow: hidden;
    &:nth-child(3n - 1) {
        margin-left: 2%;
        margin-right: 2%;
        @include tablet{
            margin-left: 0;
            margin-right: 0;
        }
    }
    &:nth-child(2n - 1) {
        @include tablet{
            margin-left: 1%;
            margin-right: 1%;
        }
        @include mobile{
            margin-left: 0;
            margin-right: 0;
        }
    }
    @include tablet{
        flex: 0 0 49%;
    }
    @include mobile{
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    &__wrap{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        flex-direction: row;

        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;

        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    &__image{
        display: block;
        width: 100%;
        height: 220px;
        background: #fff no-repeat 50% 50%;
        background-size: cover;
    }
    &__info{
        padding: 15px;
    }
    &__title{
        color: $primary-color;
        font-size: 19px;
        height: 40px;
    }
    &__date{
        color: #acacac;
        font-size: 12px;
        padding: 0;
        padding-bottom: 6px;
        margin: 0;
        text-align: right;
        letter-spacing: 2px;
    }
    &__description{
        white-space: normal;
        word-wrap: break-word;
    }
}
.buttons{
    &--load-more{
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        padding-right: 2.2em;
        background: white;
        color: black;
        &:before{
            content: "\f110";
            position: absolute;
            right: 1em;
            padding: 0;
            font-family: FontAwesome;
            -webkit-transition-duration: 1s;
            transition-duration: 1s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
        }
        &:hover:before, &:focus:before, &:active:before{
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}