.alert{
    margin-bottom: 0;
    padding: 150px ;
    color: #951732;
    background: #f2f2f2;
    @include tablet{
        padding: 100px;
    }
    @include mobile{
        padding: 50px;
    }
    &__text{
        font-size: 45px;
        font-weight: 100;
        @include tablet{
            font-size: 31px;
        }
        @include mobile{
            font-size: 25px;
        }
    }
}