.team-info{
    padding: 30px 0 0;
    &__photo{
        width: 100%;
    }
    &__content{
        font-size: 20px;
        color: $primary-color;
        margin-top: 30px;
        line-height: 1.5;
        text-align: center;
        @include mobile {
            padding: 0 15px;
            font-size: 12px;
        }
        @include tablet {
            font-size: 16px;
        }
    }
}
.team{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    flex-direction: row;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &-card{
        @include clearfix;
        margin-bottom: 30px;
        border-bottom: 3px solid $second-color;
        @include transition(border 500ms ease-in);
        background: $dark;
        flex: 0 0 24%;
        margin: 1% 0;
        overflow: hidden;
        &:nth-child(2n) {
            margin-left: 1%;
            margin-right: 1%;
            @include tablet{
                margin-left: 1%;
                margin-right: 1%;
            }
            @include mobile{
                margin-left: 0;
                margin-right: 0;
            }
        }
        &:hover{
            border-bottom: 3px solid $primary-color;
            @include transition(border 500ms ease-out);
            .team-card__additional{
                visibility: visible;
                opacity: 1;
                @include transition(opacity 1s linear);
            }
        }
        @include tablet{
            flex: 0 0 49%;
        }
        @include mobile{
            width: 100%;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        }
        &__photo{
            width: 100%;
            height: 300px;
            margin: 0 auto;
            background: #fff no-repeat 50% 50%;
            background-size: cover;
            position: relative;
        }
        &__info{
            text-align: center;
            padding: 10px;
            background: #fafafa;
        }
        &__name{
            font-size: 17px;
            font-weight: 500;
        }
        &__additional{
            visibility: hidden;
            opacity: 0;
            @include transition(visibility 0s 2s, opacity 2s linear);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.72);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h5{
                font-size: 17px;
            }
        }
        &__advantages{
            span{
                padding-right: 10px;
                color: $primary-color;
            }
        }
    }
}