.team{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    &-card{
        flex-basis: 250px;
        border-bottom: 4px solid #FAD70C;
        &__photo{
            width: 250px;
            height: 300px;
            margin: 0 auto;
            background: #fff no-repeat 50% 50%;
            background-size: cover;
        }
        &__info{
            text-align: center;
            padding: 10px;
            background: #fafafa;
        }
        &__name{
            font-size: 17px;
            font-weight: 500;
        }
    }
}