.week-calendar{
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;

    // table borders
    &.fc th, &.fc td{
        border: 0;
    }
    // today column
    .fc-today{
        background: transparent;
    }
    // title column
    &.fc th{
        background: #e8e8e8;
        padding: 10px;
    }
    // card
    .fc-event{
        background-color: $primary-color;
        border-radius: 0;
        border: 0;
    }
    .fc-day-grid-event{
        margin: 5px;
        padding: 10px;
    }
    // btn
    .fc-state-default{
        background: transparent;
        box-shadow: 0;
        border: 0;
        border-radius: 0;
    }
    // title
    .fc-center{
        color: #338BCB;
        font-size: 19px;
        h2{
            @include mobile{
                font-size: 15px;
            }
        }
    }
}


// .nav-tabs > li > a:hover {
//     border: none;
// }

// .nav-tabs > li > a {
//     margin-right: 0;
//     border: none;
//     border-radius: 0;
// }

// .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
//     // background-color: #fff;
//     // border: 1px solid #ddd;
//     border: none;
// }
// .week-calendar {
//     font-weight: 500;
//     font-size : 22px;
//     padding-bottom: 110px;
//     &__title{
//         font-weight: 500;
//         font-size: 36px;
//         color: $primary-color;
//         margin: 35px;
//     }
//     &__subtitle {
//         font-size : 22px;
//         color: $primary-color;
//     }
//     &__week{
//         padding-top: 65px;
//         border-bottom: 12px solid $primary-color;
//         li { 
//             background-color: #e9e9e9;
//             margin-right: 11px;
//             margin-bottom: 0;
//             &:last-child {
//                 margin-right: 0;
//             }
//             &:hover{
//                 margin-bottom: 0;
//             }
//             &.active {
//                 border-bottom: 5px solid $primary-color;
//                 .week-calendar__week-day {
//                     color: #fff;
//                 }
//                 a{   
//                     background-color: $primary-color;
//                     border-radius:0;
//                     margin-right: 0;
//                     border: none;
//                     border-bottom: 5px solid transparent;
//                     &:hover{
//                         background-color: $primary-color;
//                         border-bottom: 5px solid $primary-color;
//                     }
//                     &:focus{
//                         outline: none;
//                         background-color: $primary-color;
//                         border-bottom: 5px solid $primary-color;
//                     }
//                 }
//             }
//             a:hover{    
//                 margin-bottom: 0;
//                 background-color: $primary-color;
//                 border-bottom: 5px solid $primary-color;
//                 .week-calendar__week-day {
//                     color: #fff;
//                 }
//             }
//         }
//     }
//     &__day {
//         width: calc((100% - 66px) / 7);
//         font-size: 18px;
//     }

//     &__date {
//         color: #b0b0b0;
//         @include tablet {
//             font-size: 14px;
//         }
//     }
//     &__week-day {
//         color: #000;
//         @include tablet {
//             font-size: 14px;
//         }
//     }
//     &__count {
//         color: #dfa459;
//         @include tablet {
//             font-size: 14px;
//         }
//     }

// }
// .event {
//     padding-top: 80px;
//     font-weight: 500;
//     &__time {
//         padding-top: 10px;
//         padding-right: 35px;
//         color: #b0b0b0;
//         font-size: 18px;
//     }
//     &__title { 
//         margin-bottom: 30px;
//         font-size: 24px;
//         font-weight: 500;
//     }
//     &__description {
//         font-size: 18px;
//     }
//     &__link {
//         color: #dfa65c;
//         text-decoration: underline;
//         font-size: 18px;
//     }
// }